@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: hsl(185, 41%, 84%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;
    max-width: 880px;
    text-align: center;
}

.logo {
    margin-bottom: 40px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 30px;
}

.inputs {
    width: 50%;
}

.resultado {
    width: 50%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 14px;
    color: hsl(186, 14%, 43%);
    margin-bottom: 8px;
    text-align: left;
}

.campo,
.tip,
.people {
    margin-bottom: 25px;
}

.input-icon {
    position: relative;
}

.input-icon img {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.input-icon input {
    width: 100%;
    height: 48px;
    padding: 0 12px 0 36px;
    font-size: 24px;
    text-align: right;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    color: hsl(183, 100%, 15%);
}

.input-icon input:focus,
.input-icon input:hover {
    border: 2px solid hsl(172, 67%, 45%);
    cursor: pointer;
}

.people input:hover {
    cursor: pointer;
    border-color: brown;
}

.tip-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.tip-option,
#custom-tip {
    width: 100%;
    height: 48px;
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.tip-option {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

.tip-option:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

.tip-option.activo {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#custom-tip {
    background-color: hsl(189, 41%, 97%);
    border: 2px solid transparent;
    text-align: center;
    outline: none;
    color: hsl(183, 100%, 15%);
}

#custom-tip:focus,
#custom-tip:hover {
    border: 2px solid hsl(172, 67%, 45%);
    cursor: pointer;
}

.linea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.linea h3 {
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}

.linea div p {
    font-size: 12px;
    color: hsl(184, 14%, 56%);
}

.valor {
    font-size: 32px;
    color: hsl(172, 67%, 45%);
}

.reset {
    margin-top: auto;
    height: 48px;
    font-size: 16px;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset:hover {
    background-color: hsl(185, 41%, 84%);
}

 
@media (max-width: 768px) {

    body {
        padding: 20px;
        align-items: flex-start;
    }

    main {
        max-width: 90%;
    }

    .logo {
        margin: 30px auto;
        display: block;
    }

    .card {
        flex-direction: column;
        padding: 25px;
    }

    .inputs,
    .resultado {
        width: 100%;
    }

    .resultado {
        margin-top: 20px;
    }

    .tip-options {
        grid-template-columns: repeat(2, 1fr);
    }

    .valor {
        font-size: 28px;
    }

    .reset {
        font-size: 18px;
    }
}